<a href="https://colab.research.google.com/github/arvinsam123/Bootcamp-Colab-Notebooks/blob/main/Module%200/Session%203/m0s3nb3_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Sets

### Sets in Python

####  A set is an unordered collection with no duplicate elements. Sets are mutable, but they must contain immutable elements.

Basic uses include membership testing and eliminating duplicate entries.

Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

To create a set, we use either curly braces or the set() function.

We can create:

1. An empty `set`, using the `set()` function.

2. A `set` with values, using either `set()` or curly braces, `{}`.

     a. The `set()` function takes a single argument, which can be a list or string. It will return the unique elements for that are within that object.
     
     b. Creating a set with curly braces `{}` takes one or more arguments. It will return the unique elements of those arguments themselves.


3. A `set` created from another variable (`list` or `string`) will contain only the unique elements of that original variable, using the `set()` function. **This will be the most common method of creating a set in this class.**

Note: to create an empty set you have to use set(), not {}; The latter creates an empty dictionary, a data structure that we will cover in the next bootcamp session.

#### Set documentation link: https://docs.python.org/3/tutorial/datastructures.html#sets

### <span style="background-color: #FFFF00">In this class, for homework notebooks and exams, most every time that you are asked for the unique values of some object/variable, you will be using a `set()` to return those unique values.</span>

Some objects have their own `unique()` method, and we will be covering those later in the semester.

#### Create empty sets

In [2]:
empty_set_1 = set() #if question mentions unique elements, think about using sets.
# note that this creates a dictionary
empty_set_2 = {}

display(empty_set_1)
display(empty_set_2)

# set
display(type(empty_set_1))
#dictionary
display(type(empty_set_2))

set()

{}

set

dict

#### Create a set with values.

In [3]:
# pass in a string
set_1 = set('abracadabra')
display(set_1) #displays only unique characters in the string. Breaking the string into unique elements in the string

# pass in a list
set_2 = set(['potter', 'weasley', 'granger', 'snape', 'potter', 'snape'])
display(set_2) #passing the unique arguments

{'a', 'b', 'c', 'd', 'r'}

{'granger', 'potter', 'snape', 'weasley'}

In [4]:
# will error out, because multiple parameters
set_3 = set('potter', 'weasley', 'granger', 'snape', 'potter', 'snape') #error as multiple elements are provided in the function. Need hard braces to make it into a list.
display(set_3)

TypeError: set expected at most 1 argument, got 6

In [5]:
# using curly braces
set_4 = {'abracadabra'} #curly braces with a singular string returns a singular string
display(set_4)

set_5 = {'potter', 'weasley', 'granger', 'snape', 'potter', 'snape'} #no need to use hard braces to create a list for this set when using curly braces
display(set_5)

{'abracadabra'}

{'granger', 'potter', 'snape', 'weasley'}

#### Create a set as the unique values of another variable, such as a list or string.

In [6]:
str_potter_1 = 'avada kedavra'
set_6 = set(str_potter_1)
display(set_6)

{' ', 'a', 'd', 'e', 'k', 'r', 'v'}

In [7]:
lst_potter_2 = ['potter', 'weasley', 'granger', 'snape', 'potter', 'snape']
set_7 = set(lst_potter_2)
display(set_7)

{'granger', 'potter', 'snape', 'weasley'}

In [8]:
# recall that a set is unordered, so we cannot address specific elements by index
# will throw an error
display(set_7[0])

TypeError: 'set' object is not subscriptable

#### Testing membership in set

In [9]:
'dumbledore' in set_7

False

In [10]:
if 'dumbledore' in set_7:
    print("He is")
else:
    print("He's not")

He's not

#### Use Python bitwise operators to compare the values in two sets.

https://realpython.com/python-bitwise-operators/

In [11]:
set_magic = set('abracadabra')
set_spell = set('avada kedavra')
display(set_magic)
display(set_spell)

{'a', 'b', 'c', 'd', 'r'}

{' ', 'a', 'd', 'e', 'k', 'r', 'v'}

Bitwise **SUBTRACTION**

In [16]:
# letters in set_magic but not in set_spell
set_magic - set_spell #appear in magic set but not in spell set
set_spell - set_magic #appear in spell set but not in magic set

{' ', 'e', 'k', 'v'}

In [17]:
# Note that Bitwise ADDITION is not supported for sets
# will error out
set_magic + set_spell

TypeError: unsupported operand type(s) for +: 'set' and 'set'

Bitwise **OR**

In [18]:
# letters in set_magic or set_spell or both
set_magic | set_spell

{' ', 'a', 'b', 'c', 'd', 'e', 'k', 'r', 'v'}

Bitwise **AND**

In [20]:
# letters in both set_magic and set_spell
set_magic & set_spell #shared elements

{'a', 'd', 'r'}

Bitwise **XOR**  Exclusive OR

In [21]:
# letters in either set_magic or set_spell, but not in both
set_magic ^ set_spell #unique elements of set magic and set spell

{' ', 'b', 'c', 'e', 'k', 'v'}

#### What are your questions on sets?