<a href="https://colab.research.google.com/github/arvinsam123/Bootcamp-Colab-Notebooks/blob/main/Module%200/Session%203/s3nb4_range_SP25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Sequences:  Range Objects

### Range Objects

#### The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

**Range objects are typically used in looping operations.**

The `range()` syntax is:  range(start, stop, step). The `start` and `step` parameters are optional. If not specified, `start` will be 0 and `step` will be 1.

#### Range object documentation links:  https://docs.python.org/3/library/stdtypes.html#ranges

https://docs.python.org/3/library/functions.html#func-range

In [1]:
range_1 = range(5)
display(range_1)

range(0, 5)

In [6]:
range_ex = range(3,5)
display(range_ex)

range_ex_2 = range(5,2)
display(range_ex_2)

range_ex_3 = range(5,step =2)
display(range_ex_3)

SyntaxError: invalid syntax (ipython-input-1184587450.py, line 7)

In [7]:
for number in range_1:
    print(number)

0
1
2
3
4

In [8]:
range_2 = range(0,10,2)
display(range_2)

range(0, 10, 2)

In [9]:
for number in range_2:
    print(number)

0
2
4
6
8

## Ranges are useful for looping over iterable objects. And this is how you will generally use range objects in this class

### Iterating over a sequence (list in this case) by index, using a `for` loop

In [10]:
course_list = ['msa' , 'cse' , '6040']

# output the index number
for index in range(len(course_list)): #length of course list is # of elements in course list
    print(index)

0
1
2

In [11]:
# output the value at the index
for index in range(len(course_list)):
    print(course_list[index]) #printing the elements in the list

msa
cse
6040

In [12]:
# add elements to the list
range_list = []

for x in range(10):
    range_list.append(x)

display(range_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Iterating over a sequence (tuple in this case) by index, using a `for` loop

In [13]:
# what is the length of the tuple?
tpl_example = (1,2,3,4,5)
display(len(tpl_example))

5

In [17]:
# loop over the items in the tuple using a range object
for item in range(len(tpl_example)):
# so the line of code is equivalent to this one
# for item in range(5):
    print(item)
    print(tpl_example[item])
    print('\n')

    #output is index,value,new line

0
1


1
2


2
3


3
4


4
5

### A quick look at nested loops, using a range() object.

In [18]:
for i in range(4):
    for j in range(4):
        print((i, j))

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

#### Recall in the last notebook, we mentioned the `break` keywork in nested loops.

#### Note that the `break` keyword only terminates the innermost for loop, if the loop running is an interior loop in a series of nested loops.

#### Outer for loops in the nested loop structure will continue to run.

In [19]:
# what is happening here?
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

### What are your questions on range objects?